#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q           &kp B 
                &kp P   &kp F   &kp M   &kp U   &kp Y
                &kp R   &kp S   &kp N   &kp I   &kp W   &kp V   &kp BACKSPACE
                &kp O   &kp A   &kp T   &kp E   &kp G   &kp X   &kp SPACE   &kp J
                &kp C   &kp D   &kp L   &kp H   &kp K   &kp LSHIFT   &kp RET   &kp Z
            >;
        };
    };
};